#heading{
  padding: 20px 10px;
  background: #eee;
}

#heading > h1{
  margin: 0;
  padding: 0;
}

.breadcrumbs{
  background: #eee;
  padding: 0 10px 10px 10px;
}

main{
  padding: 20px 10px 10px 10px;
}
